<!doctype html>
<html lang="en">
  <head>
    <title>Kai's URL shortener</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/modernizr.js') }}"> </script>
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        {% if error %}
        <div class='alert alert-error'>
          {{error}}
        </div>
        {% endif %}
        {% block content %}{% endblock %}
      </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"> </script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"> </script>
  </body>
</html>
